.first-headline{
    font-size: 50px;
    border-left: 5px orangered solid;
font-family: ;}
.headline-color{color: #FFAD5A;}
.explore-now{ background-color: olivedrab;
padding: 15px;
color: white;
text-decoration: none;}   
.first-div{width: 50%;
margin: 100px} 
.second-div{padding-bottom: 20px;
    width: 400px;}
.first-section{display: flex;}
.second-headline{font-size: 40px;
text-align: center;
font-size: 50px;}