.first-headline{
    font-size: 50px;
    border-left: 5px orangered solid;
font-family: ;}
.headline-color{color: #FFAD5A;}
.explore-now{ background-color: olivedrab;
padding: 15px;
color: white;
text-decoration: none;}   
.first-div{width: 50%;
margin: 100px} 
.second-div{padding-bottom: 20px;
    width: 400px;}
.first-section{display: flex;}
.second-section{display: flex;}
.second-headline{font-size: 40px;
text-align: center;
font-size: 50px;}
.second-inage{
    width: 190px;}
 .third-div{width: 20%;
background-color: #EDF5F6;
padding: 30px;
border-radius: 40px;
margin-left: 150px;} 
.third-image{width: 190px;} 
.forth-div{width: 20%;
background-color:#FFEEEE ;
padding: 30px;
border-radius:40px ;
margin-left: 30px;}
.fith-div{width: 20%;
background-color:#FFF4D6 ;
padding: 30px;
border-radius:40px ;
margin-left: 30px;
height:40% ;}
.forth-image{width: 30%;
border-radius: 40px;
margin-left: 140px ;
margin-top: 60px;}
.third-section{
    display: flex;} 
.background-img{
    background-image:url(mission-2022-main/images/shapes/dream-bg.png);
    background-repeat: no-repeat;
   background-position-y: center;
background-position-x: 25px ;}
.sisth-div{margin-top: 100px;
margin-left: 100px;}
.thard-headline{font-size: 35px;}
.develop-unlimited{width: 500px;}
.forth-headline{font-size: 30px;}
.seventh-div{margin-left: 150px;
    margin-top: 120px;
width: 60%;}
#font-size{font-size: 18px;
width: 500px;}
.fifth-image{width: 50%;
    margin-top: 100px;
    float: right;
margin-right: 180px;}
.forth-section{display: flex;
    background-image: url(mission-2022-main/images/shapes/shape-1.png);background-repeat: no-repeat;
background-position-x:   1100px; 
background-position-y: bottom;
background-size: 170px;}
.footer{width: 100%;
height: 150px;
background-color: black;
color:white;
text-align: center;}
#footer-font{font-size: 13px;}
.last-image{width: 65%;
border-radius: 40px;
margin-left: 100px;
margin-top: 100px;}
.last-section{display: flex;}
.last-headline{font-size: 30px;}
.last-div{margin-top: 100px;
margin-right: 400px;}
#comments{width: 350px;
height: 100px;}